@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    position: sticky;
    height: fit-content;
    top: var(--static-space-64);
}

.textAlign {
    text-align: center;
}

.blockAlign {
    align-self: center;
}

.mobileContainer {
    padding-bottom: var(--static-space-80);
}

@media (max-width: breakpoints.$s) {
    .avatar {
        position: static !important;
        top: auto;
        margin-bottom: var(--static-space-32);
        padding-bottom: var(--static-space-24);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
        position: relative;
    }
}